.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  padding: 16px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

.tip {
  margin-bottom: 0;
}

.errorText {
  word-break: break-all;
  font-size: 12px;
}
